@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif+TC:wght@600;700;900&family=Playfair+Display:ital,wght@0,900;1,900&display=swap');
html,
body {
    height: 100%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e8e7e2;
    font-family: 'Noto Serif TC', serif;
    word-wrap: break-word;
}


/* center */

.center {
    text-align: center;
}


/* text */

p {
    color: #463F3A;
    font-size: 1.2em;
}

label {
    color: #363636;
    font-size: 1.5em;
    padding-right: 1%;
}

select {
    font-size: 1.1em;
    height: 1.8em;
    width: 15em;
    border-style: none;
    border-radius: 10px;
    font-family: 'Noto Serif TC', serif;
    color: #988678;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    align-items: center;
    margin-top: -10px;
    font-weight: bold;
}

.logo:hover {
    transform: scale(1.0);
}

.sele {
    display: block;
    padding-bottom: 1%;
}

button {
    border-style: none;
    background-color: #d3bfb4;
    color: #ffffff;
    font-size: 1.1em;
    border-radius: 5px;
    width: 5%;
}


/* footer text*/

.bot_text {
    color: #d3bfb4;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    padding-top: 10%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.copyright {
    padding-bottom: 2%;
    vertical-align: bottom;
    font-family: 'Playfair Display', serif;
    font-size: 1.0em;
    color: #988678;
}

.show_ti {
    color: #988678;
}

.show_it {
    color: #363636;
}


/* navbar */

@media only screen and (min-width: 769px) {
    .el-menu-demo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        margin-bottom: 10rem;
        z-index: 999;
        background-color: #988678;
        display: flex;
        align-items: center;
    }
    a {
        color: #ffffff;
        font-family: 'Noto Serif TC', serif;
        font-size: 1em;
        text-decoration: none;
        padding: 20px;
        transition: transform 0.3s ease;
        height: 100%;
        display: flex;
    }
    a:hover {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 769px) {
    .el-menu-demo {
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        border-bottom: 1px solid #F4F3EE;
        margin-bottom: 10rem;
        z-index: 999;
        background-color: #8A817C;
        display: flex;
    }
    .el-menu-demo .el-menu-item {
        padding: 20px 20px 15px;
        transition: background-color 0.3s ease;
        height: 100%;
        display: flex;
    }
    .el-menu-demo .el-menu-item:hover {
        background-color: #BCB8B1 !important;
        color: #F4F3EE !important;
    }
    a {
        color: #F4F3EE;
        font-family: 'Special Elite', cursive;
        font-size: 1.5em;
        text-decoration: none;
    }
}

@media only screen and (max-width: 769px) {
    .icon {
        font-size: 2em;
    }
}


/* hr */

.el-divider {
    background-color: #BCB8B1;
    margin: 10% 0;
}

.el-divider__text {
    background-color: #F4F3EE;
}

.divider-text {
    font-size: 150%;
    color: #8A817C;
}


/* rwd */

@media screen and (min-width: 800px) {
    .adjust {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 800px) {
    .block {
        margin-right: 5%;
    }
}

.block {
    margin-bottom: 5%;
}

.btn {
    width: 100px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
}

.product {
    margin-right: 20px;
}

.brand,
.name,
.color {
    margin-right: 10px;
    /* 调整下拉框与标签或文本之间的水平间距 */
}