<!DOCTYPE html>
<html lang="en">

<head>
    <title>new</title>
    <meta charset="UTF-8">
    <meta name = "description" content="choosing your foundation!!">
    <meta name = "author" content = "Sophia Cheng">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

    <!--navigation -->
    <el-menu class="el-menu-demo" mode="horizontal" active-text-color="#fff">
        <el-menu-item><a href="/" class="logo">fendeyeee</a></el-menu-item>
        <el-menu-item><a href="/new">新增資料</a></el-menu-item>
        <el-menu-item><a href="/introduction">使用說明</a></el-menu-item>
    </el-menu>

    <div class="center">
        <span class="bot_text">fendeyeee</span>
        <span class="copyright">Copyright © 2024 Sophia Cheng, All Rights Reserved.</span>
    </div>

</body>
</html>